In [2]:
import pandas as pd

/var/folders/03/n892pfl91qs5w3pt_jgmkj5m0000gn/T/ipykernel_4127/143829913.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
rating = pd.read_csv("/Users/reginaflores/Documents/ProyectoCDRepos/MovieLens-trabajo-en-clase/data/movies.csv")
movies = pd.read_csv("/Users/reginaflores/Documents/ProyectoCDRepos/MovieLens-trabajo-en-clase/data/ratings.csv")

In [4]:
movies

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [5]:
rating

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [6]:
merged_data = pd.merge(movies, rating, on='movieId')
merged_data

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
...,...,...,...,...,...,...
100831,610,166534,4.0,1493848402,Split (2017),Drama|Horror|Thriller
100832,610,168248,5.0,1493850091,John Wick: Chapter Two (2017),Action|Crime|Thriller
100833,610,168250,5.0,1494273047,Get Out (2017),Horror
100834,610,168252,5.0,1493846352,Logan (2017),Action|Sci-Fi
100835,610,170875,3.0,1493846415,The Fate of the Furious (2017),Action|Crime|Drama|Thriller

In [7]:
#convertir timestamp en fecha normal 
merged_data['timestamp']=pd.to_datetime(merged_data['timestamp'], unit= 's')
merged_data

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
...,...,...,...,...,...,...
100831,610,166534,4.0,2017-05-03 21:53:22,Split (2017),Drama|Horror|Thriller
100832,610,168248,5.0,2017-05-03 22:21:31,John Wick: Chapter Two (2017),Action|Crime|Thriller
100833,610,168250,5.0,2017-05-08 19:50:47,Get Out (2017),Horror
100834,610,168252,5.0,2017-05-03 21:19:12,Logan (2017),Action|Sci-Fi
100835,610,170875,3.0,2017-05-03 21:20:15,The Fate of the Furious (2017),Action|Crime|Drama|Thriller


¿Cuáles fueron los géneros mejor rankeados en promedio en el año 2005?

In [8]:
movies_2005 = merged_data.loc[(merged_data['timestamp'] >= '2005-01-01') & (merged_data['timestamp'] <= '2005-12-31')]
movies_2005

,userId,movieId,rating,timestamp,title,genres
874,7,1,4.5,2005-01-25 06:52:26,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
875,7,50,4.5,2005-01-25 06:53:13,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
876,7,58,3.0,2005-01-25 06:45:20,"Postman, The (Postino, Il) (1994)",Comedy|Drama|Romance
877,7,150,4.5,2005-01-25 06:52:05,Apollo 13 (1995),Adventure|Drama|IMAX
878,7,165,4.0,2005-01-25 06:53:07,Die Hard: With a Vengeance (1995),Action|Crime|Thriller
...,...,...,...,...,...,...
99466,608,30810,3.0,2005-05-29 23:07:09,"Life Aquatic with Steve Zissou, The (2004)",Adventure|Comedy|Fantasy
99467,608,30822,4.0,2005-05-29 23:18:37,In Good Company (2004),Comedy|Drama
99468,608,31221,4.0,2005-05-31 01:48:41,Elektra (2005),Action|Adventure|Crime|Drama
99469,608,31696,5.0,2005-05-29 03:19:59,Constantine (2005),Action|Fantasy|Horror|Thriller
99473,608,32587,5.0,2005-05-27 02:50:47,Sin City (2005),Action|Crime|Film-Noir|Mystery|Thriller

In [22]:
average_ratings_by_genre = movies_2005.groupby('genres')['rating'].mean()
sorted_genres = average_ratings_by_genre.sort_values(ascending=False)
best_genres = sorted_genres[sorted_genres == 5.000000]
best_genres

genres
Adventure|Animation|Comedy    5.0
Animation|Comedy              5.0
Drama|Mystery|Sci-Fi          5.0
Adventure|Crime|Drama         5.0
Name: rating, dtype: float64

¿Cuál es el top 5 de películas mejor rankeadas en promedio?

In [27]:
average_ratings_by_movie = merged_data.groupby('title')['rating'].mean()
sorted_movies = average_ratings_by_movie.sort_values(ascending=False)
top_5_movies = sorted_movies.head(5)
top_5_movies

title
Gena the Crocodile (1969)              5.0
True Stories (1986)                    5.0
Cosmic Scrat-tastrophe (2015)          5.0
Love and Pigeons (1985)                5.0
Red Sorghum (Hong gao liang) (1987)    5.0
Name: rating, dtype: float64

¿Cuál es el género con más reviews?

In [30]:
rating_count = merged_data.groupby('genres')['rating'].count()
rating_count.sort_values(ascending=False).head(1)

genres
Comedy    7196
Name: rating, dtype: int64


¿Cuáles es el género por año con mejor rating entre el año 2000 y 2010?

In [51]:
movies_2000_2010 = merged_data.loc[(merged_data['timestamp'] >= '2000-01-01') & (merged_data['timestamp'] <= '2010-12-31')]
movies_2000_2010['year'] = pd.to_datetime(movies_2000_2010['timestamp']).dt.year
average_ratings_by_year_genre = movies_2000_2010.groupby(['year', 'genres'])['rating'].mean()
ranking=average_ratings_by_year_genre.groupby('year').idxmax().apply(lambda x: x[1])
print(ranking)

year
2000                Animation|Comedy|Drama|Fantasy
2001                          Action|Drama|Western
2002      Action|Adventure|Animation|Horror|Sci-Fi
2003      Action|Adventure|Animation|Drama|Fantasy
2004     Adventure|Children|Comedy|Fantasy|Musical
2005                    Adventure|Animation|Comedy
2006                    Action|Romance|War|Western
2007    Adventure|Animation|Children|Comedy|Sci-Fi
2008    Adventure|Animation|Children|Comedy|Sci-Fi
2009     Action|Adventure|Mystery|Romance|Thriller
2010                         Action|Comedy|Musical
Name: rating, dtype: object

/var/folders/03/n892pfl91qs5w3pt_jgmkj5m0000gn/T/ipykernel_4127/3852657842.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_2000_2010['year'] = pd.to_datetime(movies_2000_2010['timestamp']).dt.year

Preguntas:

¿Cuál es el usuario con más críticas y cuál es su género favorito?

In [55]:
counting=merged_data.groupby(['userId','genres'])['rating'].max()
counting.count()
rating_=counting.groupby('userId').idxmax().apply(lambda x: x[1])
rating_

userId
1                              Action|Adventure
2              Action|Adventure|Sci-Fi|Thriller
3              Action|Adventure|Sci-Fi|Thriller
4       Action|Adventure|Comedy|Fantasy|Romance
5                       Adventure|Drama|Western
                         ...
606    Action|Adventure|Animation|Drama|Fantasy
607             Action|Adventure|Drama|Thriller
608             Action|Adventure|Fantasy|Horror
609                   Action|Adventure|Thriller
610                                      Action
Name: rating, Length: 610, dtype: object