In [36]:
import pandas as pd

In [37]:
rating = pd.read_csv("/Users/reginaflores/Documents/ProyectoCDRepos/MovieLens-trabajo-en-clase/data/movies.csv")
movies = pd.read_csv("/Users/reginaflores/Documents/ProyectoCDRepos/MovieLens-trabajo-en-clase/data/ratings.csv")

In [38]:
movies

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [39]:
rating

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [40]:
merged_data = pd.merge(movies, rating, on='movieId')
merged_data

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
...,...,...,...,...,...,...
100831,610,166534,4.0,1493848402,Split (2017),Drama|Horror|Thriller
100832,610,168248,5.0,1493850091,John Wick: Chapter Two (2017),Action|Crime|Thriller
100833,610,168250,5.0,1494273047,Get Out (2017),Horror
100834,610,168252,5.0,1493846352,Logan (2017),Action|Sci-Fi
100835,610,170875,3.0,1493846415,The Fate of the Furious (2017),Action|Crime|Drama|Thriller

In [41]:
#convertir timestamp en fecha normal 
merged_data['timestamp']=pd.to_datetime(merged_data['timestamp'], unit= 's')

In [42]:
merged_data

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
...,...,...,...,...,...,...
100831,610,166534,4.0,2017-05-03 21:53:22,Split (2017),Drama|Horror|Thriller
100832,610,168248,5.0,2017-05-03 22:21:31,John Wick: Chapter Two (2017),Action|Crime|Thriller
100833,610,168250,5.0,2017-05-08 19:50:47,Get Out (2017),Horror
100834,610,168252,5.0,2017-05-03 21:19:12,Logan (2017),Action|Sci-Fi
100835,610,170875,3.0,2017-05-03 21:20:15,The Fate of the Furious (2017),Action|Crime|Drama|Thriller

In [45]:
movies_2005 = merged_data.loc[(merged_data['timestamp'] >= '2005-01-01') & (merged_data['timestamp'] <= '2005-12-31')]
movies_2005

,userId,movieId,rating,timestamp,title,genres
874,7,1,4.5,2005-01-25 06:52:26,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
875,7,50,4.5,2005-01-25 06:53:13,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
876,7,58,3.0,2005-01-25 06:45:20,"Postman, The (Postino, Il) (1994)",Comedy|Drama|Romance
877,7,150,4.5,2005-01-25 06:52:05,Apollo 13 (1995),Adventure|Drama|IMAX
878,7,165,4.0,2005-01-25 06:53:07,Die Hard: With a Vengeance (1995),Action|Crime|Thriller
...,...,...,...,...,...,...
99466,608,30810,3.0,2005-05-29 23:07:09,"Life Aquatic with Steve Zissou, The (2004)",Adventure|Comedy|Fantasy
99467,608,30822,4.0,2005-05-29 23:18:37,In Good Company (2004),Comedy|Drama
99468,608,31221,4.0,2005-05-31 01:48:41,Elektra (2005),Action|Adventure|Crime|Drama
99469,608,31696,5.0,2005-05-29 03:19:59,Constantine (2005),Action|Fantasy|Horror|Thriller
99473,608,32587,5.0,2005-05-27 02:50:47,Sin City (2005),Action|Crime|Film-Noir|Mystery|Thriller

In [46]:
movies_2005['rating'].mean()

3.431669535283993

In [47]:
movies_2005['rating'].max()

5.0


¿Cuáles fueron los géneros mejor rankeados en promedio en el año 2005?

In [52]:
filtered_movies=movies_2005.loc[movies_2005['rating'] == 5]
filtered_movies

,userId,movieId,rating,timestamp,title,genres
879,7,260,5.0,2005-01-25 06:52:13,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
880,7,356,5.0,2005-01-25 06:51:55,Forrest Gump (1994),Comedy|Drama|Romance|War
882,7,466,5.0,2005-01-25 06:45:32,Hot Shots! Part Deux (1993),Action|Comedy|War
883,7,480,5.0,2005-01-25 06:51:57,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller
888,7,593,5.0,2005-01-25 06:51:52,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller
...,...,...,...,...,...,...
99427,608,7439,5.0,2005-05-31 01:41:29,"Punisher, The (2004)",Action|Crime|Thriller
99452,608,8810,5.0,2005-05-30 01:14:07,AVP: Alien vs. Predator (2004),Action|Horror|Sci-Fi|Thriller
99454,608,8874,5.0,2005-05-30 22:14:57,Shaun of the Dead (2004),Comedy|Horror
99469,608,31696,5.0,2005-05-29 03:19:59,Constantine (2005),Action|Fantasy|Horror|Thriller
99473,608,32587,5.0,2005-05-27 02:50:47,Sin City (2005),Action|Crime|Film-Noir|Mystery|Thriller

¿Cuál es el top 5 de películas mejor rankeadas en promedio?

In [53]:
genre_counts = filtered_movies['genres'].str.split('|').explode().value_counts()

# Obtener el top 5 de géneros más comunes
top_5_genres = genre_counts.head(5)
top_5_genres

genres
Drama        203
Comedy       147
Action       131
Thriller     109
Adventure     97
Name: count, dtype: int64

Preguntas:


¿Cuáles fueron los géneros mejor rankeados en promedio en el año 2005?
¿Cuál es el top 5 de películas mejor rankeadas en promedio?
¿Cuál es el género con más revies?
¿Cuáles es el género por año con mejor rating entre el año 2000 y 2010?
¿Cuál es el usuario con más críticas y cuál es su género favorito?